* {
    padding: 0%;
    margin: 0%;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("photo/new-tech\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 419px;
    height: 580px;
    background: white;
    position: relative;
  }
  main::before {
    content: "";
    position: absolute;
    top: -28.5px;
    left: 0;
    width: 20;
    height: 0;
    
    border-left: 210px solid transparent;
    border-right: 210px solid transparent;
    border-bottom: 28.8675px solid white;
  }
    main::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 210px solid transparent;
    border-right: 210px solid transparent;
    border-top: 28.8675px solid white;
  }

  h1 {
    font-size: 28px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    
  }

  hr {
    width: 300px;
    margin: 10px 60px;
    margin-bottom: 22px;
    border: none;
    background-color: black; 
    height: 1px; 
  }

  h3 {
    margin-top: 8px;
    margin-bottom: -7px;
    font-weight: 700;
    font-size: 12px;
    text-align: start;
    margin-left: 60px;
    font-family: "Open Sans", sans-serif;
  }

 

  input {
    margin-left: 60px;
    background-color: #F4F4F4;
    border: 1px;
    width: 297px;
    height: 38px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(148, 147, 147, 0.5);
  }
  input:focus {
    outline-color:#50A7EC;
    }

  .signUp {
    width: 175px;
    height: 35px;
    color: #F4F4F4;
    background-color: #2871AA;
    border: solid #2871AA;
    border-radius: 10px;
    margin: 20px 120px;
    font-size: 13px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    cursor: pointer;
  }

  .string, .login {
    margin: 0px 100px;
    font-size: 11px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    cursor: pointer;
  }

  .login {
    margin: 10px 120px;
    color: #2871AA;
    font-size: 12px;
  }

  label {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 135px;
  }

  .icons {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-top: 13px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 1px #0000003e;
    cursor: pointer;
  }

  img {
    align-items: center;
    width: 20px;
    margin-top: 3px;
  }